@charset "UTF-8";
/* ----------------------------------------------------------------------------------------------------HEADER */
/*  */
/*  */
ul {
  list-style: none; }

.Logo {
  display: flex; }

h1 {
  display: flex;
  align-items: end; }

.Icono {
  height: 3vh; }

.Logo .Redes {
  display: flex;
  align-items: end; }

/*  */
/*  */
/* ----------------------------------------------------------------------------------------------------EVENTOS */
/*  */
/*  */
.CompetenciaLogos {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center; }
  .CompetenciaLogos h2 {
    color: #0d6efd; }

.ImgEvento {
  display: flex;
  justify-content: center;
  margin-top: 1rem; }

/*  */
/*  */
/* ----------------------------------------------------------------------------------------------------ATLETAS */
/*  */
/*  */
.gridContainer {
  max-width: 1000px;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 4, 250px;
  gap: 1rem;
  text-align: center; }
  .gridContainer .Atletas {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100px;
    object-fit: contain; }

.mas {
  display: flex;
  justify-content: center; }

/*  */
/*  */
/* ----------------------------------------------------------------------------------------------------FOOTER */
/*  */
/*  */
.menuinferior {
  padding: 3rem;
  color: #5e9bea;
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: space-around;
  border-bottom: 0.5rem solid #0d6efd;
  border-top: 1rem solid #0d6efd; }
  .menuinferior h3 {
    margin: 0; }
  .menuinferior ul {
    padding: 0; }

.Disponible {
  display: flex;
  justify-content: space-evenly; }

/*  */
/*  */
/* ---------------------------------------------------------------------------------------------------- */
/*  */
/*  */
@media (min-width: 320px) {
  .layout {
    background-color: #ECF9FD;
    display: grid;
    grid-template-rows: 4em auto auto 5fr;
    gap: 10px;
    height: 100vh;
    grid-template-areas: "header" "navegacion" "contenido" "footer"; }
  .header {
    grid-area: header; }
  .Redes {
    display: flex;
    flex-direction: row; }
  .navegacion {
    grid-area: navegacion; }
  .tamaño {
    max-width: 360px;
    text-align: center; }
  .Prueba {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center; }
  .Logo2 {
    max-width: 9rem; }
  .p {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .p .TextoEvento {
      text-align: center;
      color: #000000; }
  .ImgEvento {
    max-width: 360px; }
  .contenido {
    grid-area: contenido; }
  .footer {
    grid-area: footer; }
  .oculto {
    display: none; }
  .NovedadesA {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .NovedadesA h3 {
      text-align: center; }
  .textoA {
    text-align: center;
    max-width: 100%; }
  .Caja {
    width: 320px;
    height: 210px; }
  .Evento {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .Evento .mapaindex {
      width: 360px;
      height: 300px; }
  .Semifinal {
    display: flex;
    align-content: center; }
  .imagenes {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .imagenes img {
    padding: 10px; }
  .ContactoL {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .ContactoL .enviar {
      display: flex;
      justify-content: center; }
  .Ultima {
    display: flex;
    flex-direction: column;
    align-content: center; }
    .Ultima .UltimaC {
      margin: 1em;
      padding: 1em;
      max-width: 90%;
      border: solid #0d6efd; }
    .Ultima .TextoC {
      text-align: center;
      margin: 1em;
      padding: 1em;
      max-width: 100%; }
  /* ---------------------------------------------------------------------------------------------------- */
  /*  */
  /* ----------------------------------------------------------------------------------------------------Index Competiciones */
  .tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .tienda .Nelo5 {
      max-width: 360px; }
      .tienda .Nelo5 .TextoT {
        font-size: 2em; }
  .TituloTienda {
    text-align: center; }
  /*  */
  /* ---------------------------------------------------------------------------------------------------- */
  /*  */
  /* ---------------------------------------------------------------------------------------------------- */
  /*  */
  /* ----------------------------------------------------------------------------------------------------Historia */
  .PrimerImagenH img {
    width: 375px; }
  .SegundaImagenH img {
    width: 375px; }
  /*  */
  /* ---------------------------------------------------------------------------------------------------- */
  /*  */ }

@media (min-width: 1200px) {
  .layout {
    display: grid;
    grid-template-rows: 13em 5em auto 5fr;
    gap: 10px;
    height: 100vh;
    grid-template-areas: "header" "navegacion" "contenido" "footer"; }
  .footer {
    grid-area: footer;
    display: inline; }
  .NovedadesA {
    display: flex;
    justify-content: space-around;
    flex-direction: row; }
    .NovedadesA .NoticiaA {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 40%; }
    .NovedadesA .textoA {
      text-align: center;
      max-width: 90%; }
  .Caja {
    width: 720px;
    height: 480px;
    transition: all 1s; }
    .Caja:hover {
      width: 740px;
      height: 500px; }
  .Prueba {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .tamaño {
    max-width: 720px; }
  .Logo2 {
    max-width: 10rem; }
  .ImgEventoP {
    display: flex;
    justify-content: center; }
  .ImgEvento {
    max-width: 1080px; }
  .oculto {
    display: inline; }
  .Ultima {
    display: flex;
    flex-direction: row; }
    .Ultima .UltimaC {
      margin: 1em;
      padding: 1em;
      max-width: 60%;
      border: solid #0d6efd;
      transition: all 1s; }
      .Ultima .UltimaC:hover {
        max-width: 65%; }
    .Ultima .TextoC {
      text-align: center;
      margin: 1em;
      padding: 1em;
      max-width: 50%; }
  .imagenes {
    display: flex;
    align-content: center;
    flex-direction: column; }
  .imagenes img {
    padding: 10px; }
  .Nelo5 {
    transition: all 1s;
    max-width: 1080px; }
    .Nelo5:hover {
      max-width: 1100px; }
    .Nelo5 .TextoT {
      font-size: 2em; }
  .Evento {
    text-align: center;
    display: flex;
    justify-content: space-evenly; }
    .Evento .TextoEvento {
      display: flex;
      align-items: center;
      max-width: 20%; }
  .ContactoL {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .ContactoL .enviar {
      display: flex;
      justify-content: center; }
  /* ---------------------------------------------------------------------------------------------------- */
  /*  */
  /* ----------------------------------------------------------------------------------------------------Tienda */
  .tienda {
    text-align: start;
    display: inline; }
    .tienda .TextoTienda {
      text-align: start; }
    .tienda .bTienda {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    .tienda .aTienda {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .tienda .Nelo5 {
      transition: all 1s;
      max-width: 1080px; }
      .tienda .Nelo5:hover {
        max-width: 1100px; }
      .tienda .Nelo5 .TextoT {
        font-size: 2em; }
  .TituloTienda {
    text-align: center; }
  /*  */
  /* ---------------------------------------------------------------------------------------------------- */
  /*  */
  /* ---------------------------------------------------------------------------------------------------- */
  /*  */
  /* ----------------------------------------------------------------------------------------------------Historia */
  .PaginaHistoria p {
    padding-right: 100px;
    padding-left: 100px; }
  .PrimerImagenH {
    display: flex;
    flex-direction: row; }
    .PrimerImagenH .Texto {
      display: flex;
      flex-direction: column; }
    .PrimerImagenH .Imagen {
      padding-right: 100px; }
    .PrimerImagenH img {
      border: 0.1rem solid #5e9bea;
      width: 420px;
      height: 200px; }
  .PaginaHistoria p {
    padding-right: 100px;
    padding-left: 100px; }
  .SegundaImagenH {
    display: flex;
    flex-direction: row-reverse; }
    .SegundaImagenH .Texto {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .SegundaImagenH .Imagen {
      padding-left: 100px; }
    .SegundaImagenH img {
      border: 0.1rem solid #5e9bea;
      width: 400px;
      height: 200px; }
  /*  */
  /* ---------------------------------------------------------------------------------------------------- */
  /*  */
  /* ---------------------------------------------------------------------------------------------------- */
  /*  */
  /* ----------------------------------------------------------------------------------------------------Galeria */
  .gridGaleria img {
    width: 360px;
    height: 209px; }
  /*  */
  /* ---------------------------------------------------------------------------------------------------- */
  /*  */ }

button, .btn--Pcookies, .btn--Acookies, .btn--Tservicios, .btn--Pprivacidad {
  background-color: black;
  color: red;
  border-radius: 10px;
  width: 80px; }

.btn--Pcookies {
  background-color: #02265c; }

.btn--Acookies {
  background-color: blue; }

.btn--Tservicios {
  background-color: #0247af; }

.btn--Pprivacidad {
  background-color: #82b1f7; }

.textoA {
  background-color: #0d6efd;
  color: #eee;
  border-radius: 10px; }
